<ion-item>
  <ion-label>Language</ion-label>
  <ion-select
    value="brown"
    ok-text="Okay"
    cancel-text="Dismiss"
    (ionChange)="changeLang($event)"
  >
    <ion-option *ngFor="let lang of langs" [value]="lang">
      {{ lang }}
    </ion-option>
  </ion-select>
</ion-item>

<ion-list>
  <ion-item detail *ngFor="let lang of langs" (click)="clickLang(lang)">
    <ion-label>{{ lang }}</ion-label>
    <ion-checkbox color="derm" mode="ios" slot="end"></ion-checkbox>
  </ion-item>
</ion-list>
