#title-remember {
  font-size: 2.7em;
  text-align: center;
  font-weight: 700;
  color: #ff6347;
}

#card-remember {
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
}

#remember-bottom {
  text-align: center;
}
