#clipboard
    z-index: 1
    text-align: center
    position: absolute
    width: 300px
    padding-top: 10px

#burst
    text-align: center
    position: relative
    width: 300px
    padding-top: 10px
  
.GHUcgnpr_0 
    stroke-dasharray: 100 102
    stroke-dashoffset: 101
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_1 
    stroke-dasharray: 102 104
    stroke-dashoffset: 103
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_2 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_3 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_4 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_5 
    stroke-dasharray: 101 103
    stroke-dashoffset: 102
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_6 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_7 
    stroke-dasharray: 103 105
    stroke-dashoffset: 104
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_8 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_9 
    stroke-dasharray: 98 100
    stroke-dashoffset: 99
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_10 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_11 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_12 
    stroke-dasharray: 98 100
    stroke-dashoffset: 99
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_13 
    stroke-dasharray: 98 100
    stroke-dashoffset: 99
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_14 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.GHUcgnpr_15 
    stroke-dasharray: 99 101
    stroke-dashoffset: 100
    animation: GHUcgnpr_draw 1000ms ease-in-out 0ms forwards
    animation-delay: 1s

.UYaFUNuu_0 
    stroke-dasharray: 796 798
    stroke-dashoffset: 797
    animation: UYaFUNuu_draw 1400ms ease-in-out 0ms forwards

.UYaFUNuu_1 
    stroke-dasharray: 497 499
    stroke-dashoffset: 498
    animation: UYaFUNuu_draw 1400ms ease-in-out 4ms forwards

.UYaFUNuu_2 
    stroke-dasharray: 497 499
    stroke-dashoffset: 498
    animation: UYaFUNuu_draw 1400ms ease-in-out 9ms forwards

.UYaFUNuu_3 
    stroke-dasharray: 382 384
    stroke-dashoffset: 383
    animation: UYaFUNuu_draw 1400ms ease-in-out 13ms forwards

.UYaFUNuu_4 
    stroke-dasharray: 382 384
    stroke-dashoffset: 383
    animation: UYaFUNuu_draw 1400ms ease-in-out 18ms forwards

.UYaFUNuu_5 
    stroke-dasharray: 64 66
    stroke-dashoffset: 65
    animation: UYaFUNuu_draw 1400ms ease-in-out 22ms forwards

.UYaFUNuu_6 
    stroke-dasharray: 64 66
    stroke-dashoffset: 65
    animation: UYaFUNuu_draw 1400ms ease-in-out 27ms forwards

.UYaFUNuu_7 
    stroke-dasharray: 64 66
    stroke-dashoffset: 65
    animation: UYaFUNuu_draw 1400ms ease-in-out 31ms forwards

.UYaFUNuu_8 
    stroke-dasharray: 64 66
    stroke-dashoffset: 65
    animation: UYaFUNuu_draw 1400ms ease-in-out 36ms forwards

.UYaFUNuu_9 
    stroke-dasharray: 64 66
    stroke-dashoffset: 65
    animation: UYaFUNuu_draw 1400ms ease-in-out 40ms forwards

.UYaFUNuu_10 
    stroke-dasharray: 207 209
    stroke-dashoffset: 208
    animation: UYaFUNuu_draw 1400ms ease-in-out 45ms forwards

.UYaFUNuu_11 
    stroke-dasharray: 207 209
    stroke-dashoffset: 208
    animation: UYaFUNuu_draw 1400ms ease-in-out 50ms forwards

.UYaFUNuu_12 
    stroke-dasharray: 76 78
    stroke-dashoffset: 77
    animation: UYaFUNuu_draw 1400ms ease-in-out 54ms forwards

.UYaFUNuu_13 
    stroke-dasharray: 76 78
    stroke-dashoffset: 77
    animation: UYaFUNuu_draw 1400ms ease-in-out 59ms forwards

.UYaFUNuu_14 
    stroke-dasharray: 45 47
    stroke-dashoffset: 46
    animation: UYaFUNuu_draw 1400ms ease-in-out 63ms forwards

.UYaFUNuu_15 
    stroke-dasharray: 45 47
    stroke-dashoffset: 46
    animation: UYaFUNuu_draw 1400ms ease-in-out 68ms forwards

.UYaFUNuu_16 
    stroke-dasharray: 31 33
    stroke-dashoffset: 32
    animation: UYaFUNuu_draw 1400ms ease-in-out 72ms forwards

.UYaFUNuu_17 
    stroke-dasharray: 31 33
    stroke-dashoffset: 32
    animation: UYaFUNuu_draw 1400ms ease-in-out 77ms forwards

.UYaFUNuu_18 
    stroke-dasharray: 242 244
    stroke-dashoffset: 243
    animation: UYaFUNuu_draw 1400ms ease-in-out 81ms forwards

.UYaFUNuu_19 
    stroke-dasharray: 226 228
    stroke-dashoffset: 227
    animation: UYaFUNuu_draw 1400ms ease-in-out 86ms forwards

.UYaFUNuu_20 
    stroke-dasharray: 105 107
    stroke-dashoffset: 106
    animation: UYaFUNuu_draw 1400ms ease-in-out 90ms forwards

.UYaFUNuu_21 
    stroke-dasharray: 105 107
    stroke-dashoffset: 106
    animation: UYaFUNuu_draw 1400ms ease-in-out 95ms forwards

.UYaFUNuu_22 
    stroke-dasharray: 52 54
    stroke-dashoffset: 53
    animation: UYaFUNuu_draw 1400ms ease-in-out 100ms forwards

@keyframes GHUcgnpr_draw 
    100% 
        stroke-dashoffset: 0

@keyframes GHUcgnpr_fade 
    0% 
        stroke-opacity: 1

    100% 
        stroke-opacity: 0

    0.3076923076923% 
        stroke-opacity: 1

@keyframes UYaFUNuu_draw 
    100% 
        stroke-dashoffset: 0

@keyframes UYaFUNuu_fade 
    0% 
        stroke-opacity: 1

    100% 
        stroke-opacity: 0

    0.98245614035088% 
        stroke-opacity: 1