// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /**  derm */
  --ion-color-derm: #ff6347;
  --ion-color-derm-rgb: 255, 99, 71;
  --ion-color-derm-contrast: #000000;
  --ion-color-derm-contrast-rgb: 0, 0, 0;
  --ion-color-derm-shade: #e0573e;
  --ion-color-derm-tint: #ff7359;

  /** derm1 */
  --ion-color-derm1: #5a229c;
  --ion-color-derm1-rgb: 90, 34, 156;
  --ion-color-derm1-contrast: #ffffff;
  --ion-color-derm1-contrast-rgb: 255, 255, 255;
  --ion-color-derm1-shade: #4f1e89;
  --ion-color-derm1-tint: #6b38a6;

  /** derm2 */
  --ion-color-derm2: #802a7c;
  --ion-color-derm2-rgb: 128, 42, 124;
  --ion-color-derm2-contrast: #ffffff;
  --ion-color-derm2-contrast-rgb: 255, 255, 255;
  --ion-color-derm2-shade: #71256d;
  --ion-color-derm2-tint: #8d3f89;

  /** derm3 */
  --ion-color-derm3: #ea563d;
  --ion-color-derm3-rgb: 234, 86, 61;
  --ion-color-derm3-contrast: #ffffff;
  --ion-color-derm3-contrast-rgb: 255, 255, 255;
  --ion-color-derm3-shade: #ce4c36;
  --ion-color-derm3-tint: #ec6750;

  /** derm4 */
  --ion-color-derm4: #ff924a;
  --ion-color-derm4-rgb: 255, 146, 74;
  --ion-color-derm4-contrast: #000000;
  --ion-color-derm4-contrast-rgb: 0, 0, 0;
  --ion-color-derm4-shade: #e08041;
  --ion-color-derm4-tint: #ff9d5c;

  /** derm5 */
  --ion-color-derm5: #fcac4a;
  --ion-color-derm5-rgb: 252, 172, 74;
  --ion-color-derm5-contrast: #fff;
  --ion-color-derm5-contrast-rgb: 0, 0, 0;
  --ion-color-derm5-shade: #de9741;
  --ion-color-derm5-tint: #fcb45c;

  /** derm6 */
  --ion-color-derm6: #e3a38d;
  --ion-color-derm6-rgb: 227, 163, 141;
  --ion-color-derm6-contrast: #000000;
  --ion-color-derm6-contrast-rgb: 0, 0, 0;
  --ion-color-derm6-shade: #c88f7c;
  --ion-color-derm6-tint: #e6ac98;

  /** derm7 */
  --ion-color-derm7: #f2e3dc;
  --ion-color-derm7-rgb: 242, 227, 220;
  --ion-color-derm7-contrast: #000000;
  --ion-color-derm7-contrast-rgb: 0, 0, 0;
  --ion-color-derm7-shade: #d5c8c2;
  --ion-color-derm7-tint: #f3e6e0;

  /** derm8 */
  --ion-color-derm8: #f7ede9;
  --ion-color-derm8-rgb: 247, 237, 233;
  --ion-color-derm8-contrast: #000000;
  --ion-color-derm8-contrast-rgb: 0, 0, 0;
  --ion-color-derm8-shade: #d9d1cd;
  --ion-color-derm8-tint: #f8efeb;

  /** derm9 */
  --ion-color-derm9: #f2f2f2;
  --ion-color-derm9-rgb: 242, 242, 242;
  --ion-color-derm9-contrast: #000000;
  --ion-color-derm9-contrast-rgb: 0, 0, 0;
  --ion-color-derm9-shade: #d5d5d5;
  --ion-color-derm9-tint: #f3f3f3;

  /** derm10 */
  --ion-color-derm10: #ebebeb;
  --ion-color-derm10-rgb: 235, 235, 235;
  --ion-color-derm10-contrast: #5a229c;
  --ion-color-derm10-contrast-rgb: 0, 0, 0;
  --ion-color-derm10-shade: #cfcfcf;
  --ion-color-derm10-tint: #ededed;

  /** derm11 */
  --ion-color-derm11: #d1d1d1;
  --ion-color-derm11-rgb: 209, 209, 209;
  --ion-color-derm11-contrast: #000000;
  --ion-color-derm11-contrast-rgb: 0, 0, 0;
  --ion-color-derm11-shade: #b8b8b8;
  --ion-color-derm11-tint: #d6d6d6;

  /** derm12 */
  --ion-color-derm12: #858585;
  --ion-color-derm12-rgb: 133, 133, 133;
  --ion-color-derm12-contrast: #000000;
  --ion-color-derm12-contrast-rgb: 0, 0, 0;
  --ion-color-derm12-shade: #757575;
  --ion-color-derm12-tint: #919191;

  /** derm13 */
  --ion-color-derm13: #525252;
  --ion-color-derm13-rgb: 82, 82, 82;
  --ion-color-derm13-contrast: #ffffff;
  --ion-color-derm13-contrast-rgb: 255, 255, 255;
  --ion-color-derm13-shade: #484848;
  --ion-color-derm13-tint: #636363;

  /** derm14 */
  --ion-color-derm14: #1f1f1f;
  --ion-color-derm14-rgb: 31, 31, 31;
  --ion-color-derm14-contrast: #ffffff;
  --ion-color-derm14-contrast-rgb: 255, 255, 255;
  --ion-color-derm14-shade: #1b1b1b;
  --ion-color-derm14-tint: #353535;
}

.ion-color-derm {
  --ion-color-base: var(--ion-color-derm1) !important;
  --ion-color-base-rgb: var(--ion-color-derm1-rgb) !important;
  --ion-color-contrast: var(--ion-color-derm1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-derm1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-derm1-shade) !important;
  --ion-color-tint: var(--ion-color-derm1-tint) !important;
}

.ion-color-derm5 {
  --ion-color-base: var(--ion-color-derm5) !important;
  --ion-color-base-rgb: var(--ion-color-derm5-rgb) !important;
  --ion-color-contrast: var(--ion-color-derm5-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-derm5-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-derm5-shade) !important;
  --ion-color-tint: var(--ion-color-derm5-tint) !important;
}

.ion-color-derm10 {
  --ion-color-base: var(--ion-color-derm10) !important;
  --ion-color-base-rgb: var(--ion-color-derm10-rgb) !important;
  --ion-color-contrast: var(--ion-color-derm10-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-derm10-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-derm10-shade) !important;
  --ion-color-tint: var(--ion-color-derm10-tint) !important;
}

.my-custom-modal-css {
  box-shadow: 3px 3px 5px 6px #ccc !important;
  margin: 10%;
  height: 80%;
}
