.slides-main {
  height: 80%;
}
.slide-main {
  padding-top: 40px;
  height: 260px;
}

ion-slides {
  --bullet-background: grey !important;
  --bullet-background-active: #ff6347 !important;
}
.derm_range {
  width: 90%;
}
